wheel
setuptools
Cython<3.0
PyYAML==6.0.1
# Core API
fastapi>=0.109.0
uvicorn>=0.27.0
python-dotenv>=1.0.1
pydantic>=2.5.0
pydantic-settings>=2.1.0
requests>=2.31.0

# Data & ML
sqlalchemy>=2.0.25
psycopg2-binary>=2.9.9
pandas>=2.2.0
numpy>=1.26.3
scikit-learn>=1.4.0
xgboost>=2.0.3

# UI
streamlit>=1.30.0
plotly>=5.18.0

# AI/RAG
openai==1.34.0
tiktoken==0.7.0
langchain==0.2.6
langchain-community==0.2.6
langchain-core==0.2.10
langchain-openai==0.1.9
langchain-text-splitters==0.2.1
langgraph==0.1.4
faiss-cpu==1.8.0
unstructured
markdown
networkx

