--
-- PostgreSQL database dump
--

\restrict J14rYBm9ef7lHiPobLpMsB2xg8aVQMZQrxCacTr35svfWKTLQb5mnFEe8ghwPvl

-- Dumped from database version 15.15
-- Dumped by pg_dump version 15.15

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: roleenum; Type: TYPE; Schema: public; Owner: admin
--

CREATE TYPE public.roleenum AS ENUM (
    'SALES_REP',
    'MANAGER',
    'REGIONAL_DIRECTOR'
);


ALTER TYPE public.roleenum OWNER TO admin;

--
-- Name: sizeenum; Type: TYPE; Schema: public; Owner: admin
--

CREATE TYPE public.sizeenum AS ENUM (
    'SMALL',
    'MEDIUM',
    'LARGE'
);


ALTER TYPE public.sizeenum OWNER TO admin;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: dealers; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.dealers (
    dealer_id integer NOT NULL,
    name character varying,
    country character varying,
    city character varying,
    size public.sizeenum,
    brands character varying,
    avg_monthly_volume integer,
    churn_risk_score double precision,
    joined_date timestamp without time zone
);


ALTER TABLE public.dealers OWNER TO admin;

--
-- Name: dealers_dealer_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.dealers_dealer_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.dealers_dealer_id_seq OWNER TO admin;

--
-- Name: dealers_dealer_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.dealers_dealer_id_seq OWNED BY public.dealers.dealer_id;


--
-- Name: employees; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.employees (
    rep_id integer NOT NULL,
    name character varying,
    role public.roleenum,
    region character varying,
    quota double precision,
    start_date timestamp without time zone
);


ALTER TABLE public.employees OWNER TO admin;

--
-- Name: employees_rep_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.employees_rep_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.employees_rep_id_seq OWNER TO admin;

--
-- Name: employees_rep_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.employees_rep_id_seq OWNED BY public.employees.rep_id;


--
-- Name: inventory; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.inventory (
    car_id integer NOT NULL,
    dealer_id integer,
    make character varying,
    model character varying,
    year integer,
    acquisition_price double precision,
    expected_resale_price double precision,
    condition_score integer,
    location character varying,
    ingredients_date timestamp without time zone,
    days_in_stock integer,
    status character varying
);


ALTER TABLE public.inventory OWNER TO admin;

--
-- Name: inventory_car_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.inventory_car_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.inventory_car_id_seq OWNER TO admin;

--
-- Name: inventory_car_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.inventory_car_id_seq OWNED BY public.inventory.car_id;


--
-- Name: kpi_snapshots; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.kpi_snapshots (
    id integer NOT NULL,
    date timestamp without time zone,
    dealer_id integer,
    conversion_rate double precision,
    avg_ticket_size double precision,
    inventory_turnover double precision,
    forecast_accuracy double precision
);


ALTER TABLE public.kpi_snapshots OWNER TO admin;

--
-- Name: kpi_snapshots_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.kpi_snapshots_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.kpi_snapshots_id_seq OWNER TO admin;

--
-- Name: kpi_snapshots_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.kpi_snapshots_id_seq OWNED BY public.kpi_snapshots.id;


--
-- Name: leads; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.leads (
    lead_id integer NOT NULL,
    created_at timestamp without time zone,
    dealer_id integer,
    source character varying,
    inquiry_text character varying,
    response_time_minutes double precision,
    assigned_rep_id integer,
    converted boolean,
    conversion_date timestamp without time zone,
    conversion_probability double precision
);


ALTER TABLE public.leads OWNER TO admin;

--
-- Name: leads_lead_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.leads_lead_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.leads_lead_id_seq OWNER TO admin;

--
-- Name: leads_lead_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.leads_lead_id_seq OWNED BY public.leads.lead_id;


--
-- Name: transactions; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.transactions (
    transaction_id integer NOT NULL,
    date timestamp without time zone,
    dealer_id integer,
    car_id integer,
    sale_price double precision,
    margin double precision,
    channel character varying
);


ALTER TABLE public.transactions OWNER TO admin;

--
-- Name: transactions_transaction_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.transactions_transaction_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.transactions_transaction_id_seq OWNER TO admin;

--
-- Name: transactions_transaction_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.transactions_transaction_id_seq OWNED BY public.transactions.transaction_id;


--
-- Name: dealers dealer_id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.dealers ALTER COLUMN dealer_id SET DEFAULT nextval('public.dealers_dealer_id_seq'::regclass);


--
-- Name: employees rep_id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.employees ALTER COLUMN rep_id SET DEFAULT nextval('public.employees_rep_id_seq'::regclass);


--
-- Name: inventory car_id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.inventory ALTER COLUMN car_id SET DEFAULT nextval('public.inventory_car_id_seq'::regclass);


--
-- Name: kpi_snapshots id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.kpi_snapshots ALTER COLUMN id SET DEFAULT nextval('public.kpi_snapshots_id_seq'::regclass);


--
-- Name: leads lead_id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.leads ALTER COLUMN lead_id SET DEFAULT nextval('public.leads_lead_id_seq'::regclass);


--
-- Name: transactions transaction_id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.transactions ALTER COLUMN transaction_id SET DEFAULT nextval('public.transactions_transaction_id_seq'::regclass);


--
-- Name: dealers dealers_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.dealers
    ADD CONSTRAINT dealers_pkey PRIMARY KEY (dealer_id);


--
-- Name: employees employees_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.employees
    ADD CONSTRAINT employees_pkey PRIMARY KEY (rep_id);


--
-- Name: inventory inventory_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.inventory
    ADD CONSTRAINT inventory_pkey PRIMARY KEY (car_id);


--
-- Name: kpi_snapshots kpi_snapshots_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.kpi_snapshots
    ADD CONSTRAINT kpi_snapshots_pkey PRIMARY KEY (id);


--
-- Name: leads leads_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.leads
    ADD CONSTRAINT leads_pkey PRIMARY KEY (lead_id);


--
-- Name: transactions transactions_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.transactions
    ADD CONSTRAINT transactions_pkey PRIMARY KEY (transaction_id);


--
-- Name: inventory inventory_dealer_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.inventory
    ADD CONSTRAINT inventory_dealer_id_fkey FOREIGN KEY (dealer_id) REFERENCES public.dealers(dealer_id);


--
-- Name: kpi_snapshots kpi_snapshots_dealer_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.kpi_snapshots
    ADD CONSTRAINT kpi_snapshots_dealer_id_fkey FOREIGN KEY (dealer_id) REFERENCES public.dealers(dealer_id);


--
-- Name: leads leads_assigned_rep_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.leads
    ADD CONSTRAINT leads_assigned_rep_id_fkey FOREIGN KEY (assigned_rep_id) REFERENCES public.employees(rep_id);


--
-- Name: leads leads_dealer_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.leads
    ADD CONSTRAINT leads_dealer_id_fkey FOREIGN KEY (dealer_id) REFERENCES public.dealers(dealer_id);


--
-- Name: transactions transactions_car_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.transactions
    ADD CONSTRAINT transactions_car_id_fkey FOREIGN KEY (car_id) REFERENCES public.inventory(car_id);


--
-- Name: transactions transactions_dealer_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.transactions
    ADD CONSTRAINT transactions_dealer_id_fkey FOREIGN KEY (dealer_id) REFERENCES public.dealers(dealer_id);


--
-- PostgreSQL database dump complete
--

\unrestrict J14rYBm9ef7lHiPobLpMsB2xg8aVQMZQrxCacTr35svfWKTLQb5mnFEe8ghwPvl

